.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.sidebar {
  height: 100vh;
  width: 100px;
  background-color: #144273;
}
.sidebarlist {
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 300px;
  background-color: #144273;
}
.sidebarlist .row {
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
}
.sidebarlist .row:hover {
  cursor: pointer;
  background-color: #315583;
}
.row #icon {
  margin-top: 50px;
  flex: 100%;
}

/* .wrapper {
  margin-left: 150px;
  background-color: black;
  display: flex;
  flex-direction: column;
} */

.title {
  padding: 20px;
}
.smalltile {
  width: 120px;
  height: 120px;
  left: 501px;

  margin-top: 10px;
  text-align: center;
  color: white;
  background-color: #2b6c90;
  font-weight: 100;
}
.smalltilebar {
  padding: 10px;
}
.smalltilebarlist {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style-type: none;
}

.tile {
  width: 250px;
  height: 250px;
  left: 501px;
  top: 99px;
  /* display: flex;
  flex-direction: column;
  list-style-type: none; */
  margin-top: 10px;
  text-align: left;
  text-indent: 20px;
  color: white;
  font-weight: 300;
}

.tilebar {
  padding: 10px;
}

.tilebarlist {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style-type: none;
}

.home {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.heading1 {
  color: red;
  font-weight: bolder;
  padding: 10px;
}
.heading2 {
  margin-left: 50px;
  color: white;
}
.wrapper {
  margin-left: 10px;
  background-color: #144273;
  width: 100%;
  height: 100vh;
}

#head1 {
  float: right;
  margin-right: 20px;
  background-color: white;
  width: fit-content;
  height: fit-content;
}

.tool {
  position: absolute;
  width: max-content;
  padding: 0.5rem;
  cursor: pointer;
  margin-top: 10px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
  font-weight: 200;
}

.footlist {
  list-style-type: none;
  gap: 40px;
  display: flex;
  flex-direction: row;

  color: white;
}

.name {
  float: right;
  margin-left: 600px;
}

.link {
  color: white;
  text-decoration: none;
}
