.list {
  display: flex;
  /* grid-template-columns: repeat(12, auto); */
  flex-direction: row;
  flex-wrap: wrap;
  width: 780px;
  margin-left: 45px;
  background-color: #003b6a;
  gap: 10px;
}

.list__card {
  display: grid;
  grid-template-columns: (6, auto);
  height: 120px;
  width: 120px;
  color: #8da7bc;
  background-color: #1a4f79;
  grid-auto-rows: 120px;
  /* margin: 3rem;
    box-shadow: 0 0.7rem 1.2rem rgba(0, 0, 0, 0.2); */
  cursor: pointer;
  /* transition: all 0.3s; */
}

/* .list__card:hover {
  transform: translateY(-2px);
  box-shadow: 0 1.4rem 2.4rem rgba(0, 0, 0, 0.2);
} */

.list__card-left {
  display: flex;
}

.list__card-right {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  justify-content: space-between;
}

.list__card-right--name {
  display: flex;
  align-self: center;
  text-align: center;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  opacity: 0.5;
}

.list__card-right--description {
  display: flex;
  font-size: 1.6rem;
  align-self: center;
  text-align: center;
}
.list__card-right--price {
  display: flex;
  font-size: 1.6rem;
  align-self: flex-end;
}

.list__title {
  display: flex;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0.7rem;
  margin-left: 0.7rem;
  margin-top: 3rem;
  justify-content: center;
}
